<!DOCTYPE html>
<html>
    <body style=" margin:10px;">
        <div>
            <img style=" width: 240px;height: 290px; display: block; margin-left: auto;margin-right: auto;" 
            src="https://drive.google.com/uc?export=view&id=1SXZA7O4pXGgsFEjQe5BjW5rHw41aw2X4"
            alt="Celebrating Image">

            <h2 style="letter-spacing: 4px; text-align: center;">Thank You for joining Us </h2>
        </div>

        <div style="text-align: center;">
            <p>Your account has been successfuly Created you'll be good to go now.</p>
            <p>To sign in when using our application just enter your email adress and password.</p>
            <h3 style="letter-spacing: 4px; text-align: center; color: #3A59F9;">Happy Chatting.</h3>
        </div>

    </body>
</html>

