<!DOCTYPE html>
<html>

<body style=" margin:10px;">
    <div>
        <img style=" width: 350px;height: 250px; display: block; margin-left: auto;margin-right: auto;"
            src="https://drive.google.com/uc?export=view&id=1UnBuLkX7MFRUtSceSg6BLraMK8Yu6cVU" alt="Celebrating Image">
        <h2 style="letter-spacing: 4px; text-align: center;">Account Password Reset</h2>
    </div>

    <div style="text-align: center;">
        <p>You may forgot your secret password don't panic just enter the code below.</p>
        <p>The Pasword Reset Code :
        <p style="letter-spacing: 4px; color: #3A59F9;"><b>{{Code}}</b></p>
        </p>
        <h6 style=" text-align: center; ">This code has no expiration date or time it will be available until a new
            reset.</h6>
        <p style="letter-spacing: 1px; text-align: center;color: #F50438; ">If you did not request a password reset, you can ignore this email. Your password will not be chganged.</p>
    </div>
</body>

</html>