<!DOCTYPE html>
<html>

<body style=" margin:10px;">
    <div>
        <img style=" width: 292px;height: 270px; display: block; margin-left: auto;margin-right: auto;"
            src="https://drive.google.com/uc?export=view&id=1vLQikONX39GqXQSG2ZV6MdQ6v9pzxQT8" alt="Celebrating Image">
        <h2 style="letter-spacing: 4px; text-align: center;">Password has been successfully Reset.</h2>
    </div>

    <div style="text-align: center;">
        <p>Your secret password changed successfully keep it hide or in mind .</p>
        <h5 style="letter-spacing: 4px; text-align: center;color: #F50438; ">Always keep your Creadentials Somewhere Safe.</h5>
    </div>
</body>

</html>